                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hac-combined.png')}}">
                    <h4>The Honourable Artillery Company</h4>
                    City Road, London EC1Y 2BQ<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 44 20 7382 1537 <br>
                    <a target="_link" href="http://www.hac.org.uk"><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">http://hac.org.uk</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Andaz Hotel</h4>
                    40 Liverpool Street, London EC2M 7QN<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 961 1234<br>
                    <a target="_link" href="http://london.liverpoolstreet.andaz.hyatt.com/hyatt/hotels-london-liverpoolstreet-andaz/index.jsp" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Montcalm London City</h4> 
                    52 Chiswell Street, London EC1Y 5SD<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 616 0100<br>
                    <a target="_link" href="http://www.themontcalmlondoncity.co.uk" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Apex Hotels</h4>
                    No 1 Seething Lane, London EC3N 4AX<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0845 365 0000<br>
                    <a target="_link" href="http://www.apexhotels.co.uk/en/hotels/london/apex-city-of-london-hotel/" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Crowne Plaza</h4>
                    100 Shoreditch High Street, London E1 6JQ<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 613 9800<br>
                    <a target="_link" href="http://www.ichotelsgroup.com/crowneplaza/hotels/us/en/london/lonsd/hoteldetail" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>DoubleTree Hilton</h4>
                    7 Pepys Street, London EC3N 4AF<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 709 1000<br>
                    <a target="_link" href="http://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-london-tower-of-london-LONTLDI/index.html" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Hoxton Hotel</h4>
                    81 Great Eastern Street, London EC2A 3HU<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 550 1000<br>
                    <a target="_link" href="http://www.hoxtonhotels.com" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Malmaison London</h4>
                    18-21 Charterhouse Square, London EC1M 6AH<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 012 3700<br>
                    <a target="_link" href="http://www.malmaison.com/locations/london/" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Travelodge City Road</h4>
                    1-23 City Road, London EC1Y 1AE<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0871 984 6333<br>
                    <a target="_link" href="http://www.travelodge.co.uk/hotels/340/London-Central-City-Road-prev-Moorgate-hotel" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Premier Inn</h4>
                    Corsham Street, London, N1 6DR<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0871 527 9312<br>
                    <a target="_link" href="http://www.premierinn.com/en/hotel/LONOLD/london-city-old-street" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>

