<div class="row divider">
    <div class="span5">
        <a href="/venue"><img id="hacPhoto" src="{{url_for('static', filename='img/hac-home.jpg')}}" ></a>
    </div>
    <div id="directions" class="span5">
        <a href="/venue" class="header"><h1>WHERE?</h1></a>
        <div class="row">
            <div class="span11">
                Honourable Artillery Company<br>
                Armoury House, City Road,<br>
                London EC1Y 2BQ<br>
                United Kingdom<br>
                +44 20 7382 1537<br>
                <a href="http://goo.gl/maps/jSffH"><img src="{{url_for('static', filename='img/map-icon.png')}}" style="width: 20px; vertical-align: text-bottom; height: 20px;">Open in maps</a><br>
                <a href="http://www.hac.org.uk"><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink" >http://hac.org.uk</a>
            </div>
        </div>
    </div>
</div>
