Fabric==1.5.1
Flask==0.9
Flask-Evolution==0.6
Flask-MySQL==1.2
Flask-SQLAlchemy==0.16
Flask-Script==0.5.1
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
MySQL-python==1.2.4
Pygments==1.6rc1
SQLAlchemy==0.7.9
Tempita==0.5.1
Werkzeug==0.8.3
alembic==0.4.1
bpython==0.12
decorator==3.4.0
gdata==2.0.17
google-api-python-client==1.0
hsaudiotag==1.1.1
httplib2==0.7.7
paramiko==1.9.0
pycrypto==2.6
pyechonest==7.1.0
python-gflags==2.0
wsgiref==0.1.2
