{% extends 'layouts/shadowbox.html' %}
{% block content %}
<div class="row">
    <div class="span12">
        <h3>Add Your Song</h3>
        <p>Upload a song or send a link to a youtube song here</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}{% for category, msg in messages %}
            <div class="close alert alert-{{category}}" data-dismiss="alert">{{msg}}</div>
            {% endfor %}{% endif %}
        {% endwith %}
    </div>
</div>
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="{{ url_for('.playlist_add') }}">
    <div class="control-group">
        <label class="control-label" for="submitter">Your name:</label>
        <div class="controls">
            <input type="text" name="submitter" placeholder="Your name here">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="youtube"><img src="//s.ytimg.com/yt/img/creators_corner/YouTube/youtube_24x24.png" alt="Subscribe to me on YouTube"></label>
        <div class="controls">
            <input type="text" name="youtube" placeholder="youtube link">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="media_file"><i class="icon-black icon-upload"></i> Select File</label>
        <div class="controls">
            <input type="file" name="media_file"><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" >
        </div>
    </div>
</form>
{% endblock %}
