{% extends 'layouts/layout.html' %}
{% block headernav %}{% include '_/navigation.html' %}{%endblock%}
{% block content %} 
<div class="row divider">
    <div id="playlist-header" class="pageHeader">
        <div class="span10">
            <h1>Playlist</h1>
            <p class="imageCredit"><a href="http://www.youwall.com/index.php?ver=MzI5NA==" target="_link">image credit</a></p>
        </div>
    </div>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <p>In lieu of a traditional dj, we've opted to take care of the music ourselves - and we'd love for you to help. Please let us know
                what song(s) you'd like to hear at our wedding, and it will be added to our playlist!</p>
            </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}<div class="row">
            {% for category, msg in messages %}
            <div class="close alert alert-{{category}}" data-dismiss="alert">{{msg}}</div>
            {% endfor %}</div>
            {% endif %}
        {% endwith %}
        </div>
        <div class="row">
            <div class="span10 addNewSong divider">
                <fieldset>
                    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{{ url_for('.playlist_add') }}" id="addSong">
                        <div class="control-group">
                            <label class="control-label searchLabel" for="songInput">Add your song</label>
                            <div class="controls">
                                <div class="input-append">
                                    <span class="searchBox"><input type="text" class="span6" id="searchText" name="search" placeholder="Type a song title and artist or paste in a YouTube Link"></span>
                                    <span class="fileUpload"><input class="fileUpload" type="file" id="mediaUpload" name="media_file" disabled="disabled"></span>
                                    <input type="submit" class="btn" value="Add song">
                                </div>
                                <span class="help-block"><span id="userDirection"></span>
                                    <!-- (Alternatively, <a href="#" id="toggleInput">click here</a> to <span id="userAction">upload a song in your collection</a></span>.) -->
                                </span>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="span10 ">
                <h4>Our playlist so far</h4>
                <p>Thank you to everyone that's submitted a song for our playlist! In case you're wondering what people want to hear, the full list is below.</p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                        </tr>
                    </thead>
                    <tbody>{% for song in songs %}
                    <tr>
                        <td>{{song.title}}</td>
                        <td>{{song.artist}}</td>
                    </tr>
                    {% endfor %}</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
    (function() {
        var directions = [
            'Please type in a song title and artist to add it to our list or paste in a youtube link and we\'ll do the rest.',
            'Using the form above, please upload a song from your collection to add it to our playlist'
        ];
        var actions = [
            'upload a song in your collection',
            'type in a song title and artist or paste in a youtube link'
        ];
        $('#userDirection').html(directions[0]);
        $('#userAction').html(actions[0]);
        $('#toggleInput').click(function(){
            if($('#userDirection').html() == directions[0]) {
                $('#userAction').html(actions[1]);
                $('#userDirection').html(directions[1]);
                $('.fileUpload').show();
                $('#mediaUpload').removeAttr('disabled');
                $('.searchBox').hide();
                $('#searchText').attr('disabled', 'disabled');
            }
            else {
                $('#userDirection').html(directions[0]);
                $('#userAction').html(actions[0]);
                $('.fileUpload').hide();
                $('#mediaUpload').attr('disabled', 'disabled');
                $('.searchBox').show();
                $('#searchText').removeAttr('disabled');
            }
        });
    })();

    $('#addSong').submit(function() {
        if($('.searchText').val() == '' && $('.mediaUpload').val() == '') {
            Shadowbox.open({
                player: 'html',
                content: '<div style="padding-top: 25%;background-color: #fff; text-align: center; width: 100%; height: 75%"><h4>Please enter in a song before proceeding!</h4></div>'
            });
        }
        else {
            var me = this;
            Shadowbox.open({
                content: 'about: blank',
                player: 'iframe',
                height: 500,
                options: {
                    onFinish: function() {
                        me.submit();
                    },
                    onClose: function() {
                        window.top.location.reload()
                    }
                }
            });
            $(this).attr('target', 'sb-player');
        }
        return false;
    });
});
</script>
{% endblock %}
