* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
body {
    background-color: #AAD2A2;
}
body#shadowBox {
    background-color: #FFF;
}
.container {
    margin-top: 2em;
    padding: .5em 0;
    background-color: #fff;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-left: #fff solid 20px;
    border-right: #fff solid 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.divider {
    border-top: 1px double #C0B28D;
    padding-top: 10px;
    margin-top: 10px;
}
#content .divider:first-child {
    margin-top: 0;
}
h1 {
    color: #C0B28D;
    text-transform: uppercase;
    margin: 0;
}
a {
    color: #C0B28D;
    font-weight: 500;
}
a.header:hover {
    text-decoration: none;
}
nav ul { 
    margin: 0 auto;
    padding: 0;
    width: auto;
    text-align: center;
}
nav ul li {
   list-style-type: none;
   display: inline-block;
   float: none;
   margin: 0; padding: 0;
}
nav a {
    display: block;
    padding: 0 10px 0 0;
    margin: 0;
}
.navItem {
    /* border: 1px solid #67896A; */
    height: 200px;
    margin-bottom: 1em;
}
#content {
    clear: both;
}
header {
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    line-height: 1em;
    padding-bottom: .25em;
}
header p {
    margin: 0; padding: 0;
}
header p:first-child {
    margin-bottom: 5px;
}
.byline {
    font: italic normal .6em/1em 'Gentium Book Basic', 'Times', 'Serif';
}
.heart {
    background: url(/static/img/header-heart.sml.png) no-repeat 0 5px;
    width: 49px;
    height: 50px;
    font-size: .75em;
    display: inline-block;
    margin: 0 10px;
}
.smallLink {
    width: 15px; 
    vertical-align: text-bottom; 
    height: 15px; 
    margin-right: 5px
}
#hacPhoto {
    width: 400px;
    height: 200px;
    padding: 1px;
}
#directions {
    /* background: url(/static/img/hac-bg.png) no-repeat; */
    height: 200px;
}
#dateTime {
    /* background: url(/static/img/calendar-bg.png) no-repeat; */
    height: 200px;
}
.navItem a {
    text-decoration: none;
    color: #C0B28D;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.75em;
    line-height: .85em;
    font-weight: bold;
    padding-top: 10px;
    display: block;
    height: 190px;
    width: 100%;
}
.navItem a:hover {
    color: #67896A;
}
a#london {
    background: url(/static/img/london-skyline.png) no-repeat left bottom;
}
a#weddingList {
    background: url(/static/img/wedding-list.png) no-repeat center bottom;
}
a#playlist {
    background: url(/static/img/playlist.png) no-repeat left bottom;
}
a#rsvp {
    background: url(/static/img/rsvp.png) no-repeat center bottom;
}

.pageHeader {
    height: 265px;
    position: relative;
    margin-bottom: 1em;
}
.pageHeader h1 {
    color: white;
}
#london-header {
    background: url(/static/img/london-header.jpg) no-repeat -10px top;
}
#hac-header {
    background: url(/static/img/hac-header.jpg) no-repeat -10px top;
}
.imageCredit {
    position: absolute;
    margin: 0 5px 0 0; padding: 0;
    bottom: 0; 
    right: 0;
    font-style: italic;
    font-size: .85em;
    font-weight: bold;
}
#hacMap {
    height: 400px;
    width: 100%;
}
#hacMap img {
    max-width: none;
}
.appIcons h3 {
    font-height: 1em;
    margin: 0; padding: 0;
    line-height: 1em;
}
.appIcons .desc, 
.appIcons .icon {
    margin-bottom: 1em;
}
.infoWindow * {
    margin: 0; padding: 0;
}
.location h4 {
    margin: 0; padding: 0;
}
.location {
    margin-bottom: 1em;
}
.mapInfoIcon {
    margin: 4px 0 4em 0;
    float: left;
    width: 40px;
}
#locationList {
    height: 400px;
    overflow: scroll;
}
#hacDetailedInfo {
    margin-top: 1em;
}
.johnLewisLink {
    text-align: center;
}
