<div class="row divider">
    <div class="span5">
        <a href="http://goo.gl/maps/jSffH"><img id="hacMap" src="http://maps.google.com/maps/api/staticmap?center=51.522918,-0.087533&zoom=16&markers=size:normal%7Ccolor:red%7C51.522918,-0.087533&size=400x200&scale=2&sensor=true"></a>
    </div>
    <div id="directions" class="span5">
        <h1>WHERE?</h1>
        Honourable Artillery Company<br>
        Armoury House, City Road,<br>
        London EC1Y 2BQ<br>
        United Kingdom
        +44 20 7382 1537<br>
        <a href="http://hac.org.uk">http://hac.org.uk</a>
        <a href="/venue" class="more-info" style="text-align: right; display: block;">More info...</a>
    </div>
</div>
