<div class="row divider">
    <div id="dateTime" class="span5">
        <h1>WHEN?</h1>
        <p>Saturday, 6th of April 2013</p>
        <ul>
            <li>Ceremony starts at 4:00pm.</li>
            <li>Reception at 7:00pm.</li>
        </ul>
        <p>For more information, email <a href="mailto:rsvp@aleox.co.uk?subject=RSVP+Me!">rsvp@aleox.co.uk</a>.</p>
    </div>
    <div class="calendar span5">
        <img src="{{ url_for('static', filename='img/april-6.png') }}" alt="Saturday 6th of April at 4:00pm">
    </div>
</div>
