{% extends 'layouts/layout.html' %}
{% block content %}
<div class="row divider">
    <div id="london-header">
        <h1>London</h1>
        <p class="imageCredit"><a href="http://www.freewindows8.org/panoramic-cityscapes.html/panoramic-view-from-victoria-tower-on-houses-of-parliament-and-london-skyline-at-night-london-u-k">image source</a></p>
    </div>
    <div class="span10">
        <p>So, London, right? I'll be honest, if you've never been, it's all kinds of rad. And if you have, well, EVEN RADDER.</p>
        <p>'I wish I had our Dinah here, I know I do!' said Alice aloud, addressing  nobody in particular. 'She'd soon fetch it back!'</p>

        <p>'And who is Dinah, if I might venture to ask the question?' said the  Lory.</p>

        <p>Alice replied eagerly, for she was always ready to talk about her pet:  'Dinah's our cat. And she's such a capital one for catching mice you  can't think! And oh, I wish you could see her after the birds! Why,  she'll eat a little bird as soon as look at it!'</p>

        <p>This speech caused a remarkable sensation among the party. Some of the  birds hurried off at once: one old Magpie began wrapping itself up very  carefully, remarking, 'I really must be getting home; the night-air  doesn't suit my throat!' and a Canary called out in a trembling voice to  its children, 'Come away, my dears! It's high time you were all in bed!'  On various pretexts they all moved off, and Alice was soon left alone.</p>

        <p>'I wish I hadn't mentioned Dinah!' she said to herself in a melancholy  tone. 'Nobody seems to like her, down here, and I'm sure she's the best  cat in the world! Oh, my dear Dinah! I wonder if I shall ever see you  any more!' And here poor Alice began to cry again, for she felt very  lonely and low-spirited. In a little while, however, she again heard  a little pattering of footsteps in the distance, and she looked up  eagerly, half hoping that the Mouse had changed his mind, and was coming  back to finish his story.</p>
        <dl>
            <dt><a href="">link to useful app</a></dt>
            <dd>App explanation</dd>
            <dt><a href="">link to useful app 2</a></dt>
            <dd>App 2 explanation</dd>
            <dt><a href="">link to useful app 3</a></dt>
            <dd>App 3 explanation</dd>
        </dl>
    </div>
</div>
{% endblock %}

