{% extends 'layouts/layout.html' %}
{% block headernav %}{% include '_/navigation.html' %}{%endblock%}
{% block content %}
<div class="row divider">
    <div id="hac-header" class="pageHeader">
        <div class="span10">
            <h1>The HAC</h1>
            <p class="imageCredit"><a href="http://the.hac.org.uk/downloads/WeddingsHAC.pdf" target="_link">image source</a></p>
        </div>
    </div>
    <div class="span10">
        <div class="row">
            <div class="span10">
                <p>Just north of the City of London and near to Old Street and Moorgate stations, <a href="http://the.hac.org.uk" target="_link">the HAC</a> has been the home of the Honourable Artillery Company since 1735 and is unlike any other place in London; a magnificent Georgian house set in a six acre garden located just a couple of minutes walk from Moorgate.</p>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <div id="hacMap" ></div>
            </div>
            <div class="span4" id="locationList">
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hac-combined.png')}}">
                    <h4>The Honourable Artillery Company</h4>
                    City Road, London EC1Y 2BQ<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 44 20 7382 1537 <br>
                    <a target="_link" href="http://www.hac.org.uk"><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">http://hac.org.uk</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Andaz Hotel</h4>
                    40 Liverpool Street, London EC2M 7QN<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 961 1234<br>
                    <a target="_link" href="http://london.liverpoolstreet.andaz.hyatt.com/hyatt/hotels-london-liverpoolstreet-andaz/index.jsp" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Montcalm London City</h4> 
                    52 Chiswell Street, London EC1Y 5SD<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 616 0100<br>
                    <a target="_link" href="http://www.themontcalmlondoncity.co.uk" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Apex Hotels</h4>
                    No 1 Seething Lane, London EC3N 4AX<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0845 365 0000<br>
                    <a target="_link" href="http://www.apexhotels.co.uk/en/hotels/london/apex-city-of-london-hotel/" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Crowne Plaza</h4>
                    100 Shoreditch High Street, London E1 6JQ<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 613 9800<br>
                    <a target="_link" href="http://www.ichotelsgroup.com/crowneplaza/hotels/us/en/london/lonsd/hoteldetail" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>DoubleTree Hilton</h4>
                    7 Pepys Street, London EC3N 4AF<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 709 1000<br>
                    <a target="_link" href="http://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-london-tower-of-london-LONTLDI/index.html" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Hoxton Hotel</h4>
                    81 Great Eastern Street, London EC2A 3HU<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 550 1000<br>
                    <a target="_link" href="http://www.hoxtonhotels.com" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Malmaison London</h4>
                    18-21 Charterhouse Square, London EC1M 6AH<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0207 012 3700<br>
                    <a target="_link" href="http://www.malmaison.com/locations/london/" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Travelodge City Road</h4>
                    1-23 City Road, London EC1Y 1AE<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0871 984 6333<br>
                    <a target="_link" href="http://www.travelodge.co.uk/hotels/340/London-Central-City-Road-prev-Moorgate-hotel" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
                <div class="location">
                    <img class="mapInfoIcon" src="{{url_for('static', filename='img/gmap-markers/hotel-combined.png')}}">
                    <h4>Premier Inn</h4>
                    Corsham Street, London, N1 6DR<br>
                    <img src="{{url_for('static', filename='img/phone-icon.png')}}"> 0871 527 9312<br>
                    <a target="_link" href="http://www.premierinn.com/en/hotel/LONOLD/london-city-old-street" ><img src="{{url_for('static', filename='img/external-link.png')}}" class="smallLink">Hotel Website</a>
                </div>
            </div>
        </div>

        <div id="hacDetailedInfo" class="row">
            <div class="span10">
                <p>
                The HAC strongly encourages the use of public transport in order to minimise the environmental impact of events. You should note that we are in the <a href="http://www.tfl.gov.uk/roadusers/congestioncharging/">London congestion zone</a>.
                </p>
                <h5>Closest tube stations: </h5>
                <p>
                    Moorgate (walk north up City Rd) or Old Street (Exit 5 - walk south down City Rd) Both tube stations are a 3-4 minute walk to the HAC
                </p>
                <h5>Closest main Line stations:</h5>
                <ul>
                    <li>Liverpool Street (approximately a 10 minute walk) </li>
                    <li>Moorgate (approx 5 minute walk) </li>
                </ul>
                <p>
                Our property frontage on City Road has a "castle" appearance and is situated directly next to 32-36 City Road and opposite the new Travelodge.
                </p>
                <h5>Buses</h5>
                <p>A number of bus routes operate along City Road. To help plan your journey on public transport please visit the <a href="http://www.tfl.gov.uk" target="_link">Transport for London website</a>.
                <h5>Car parks:</h5>
                <p>Free parking on the roads after 1pm for everyone (drivers please note, the HAC is in a London congestion zone).</p>
                <p>If you cannot find parking on the road, there is an NCP carpark at Finsbury Square almost opposite the HAC.  Please note that we do not provide parking at the HAC other than for pre booked disabled badge holders.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% block js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMnXekcm-KUO8GgX5nTABGVpAsN0FpmH8&sensor=true"></script>
<script type="text/javascript" src="{{url_for('static', filename="gmap-markers.js")}}"></script>
<script type="text/javascript">
var markers = {};
var infoWindow;
$(function(){
    var mapCoords = new google.maps.LatLng(51.519919, -0.087349);
    var mainMap = new google.maps.Map(document.getElementById("hacMap"), {
      center: mapCoords,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var hacCoords = new google.maps.LatLng(51.522680, -0.087349);
    var hacMarker = new google.maps.Marker({
        position: hacCoords,
        map: mainMap,
        title: 'HAC',
        icon: hacMarkerImg,
        shadow: hacMarkerShadow,
        shape: hacMarkerShape,
        zIndex: google.maps.Marker.MAX_ZINDEX + 1
    });
    markers['The Honourable Artillery Company'] = hacMarker;
    var hacContent = '<div class="infoWindow"><h5>The Honourable Artillery Company</h5><p>Armoury House, City Road,<br>London EC1Y 2BQ, United Kingdom<br>44 20 7382 1537<br><a href="http://hac.org.uk">http://hac.org.uk</a></p></div>';
    google.maps.event.addListener(hacMarker, 'click', function() { 
        if(infoWindow) { infoWindow.close(); }
        infoWindow = new google.maps.InfoWindow({content: hacContent })
        infoWindow.open(mainMap, hacMarker); 
    });

    var hotels = [
        { coords: [51.517169, -0.081518], name: 'Andaz Hotel', address: '40 Liverpool Street<br>London EC2M 7QN', url: 'http://london.liverpoolstreet.andaz.hyatt.com/hyatt/hotels-london-liverpoolstreet-andaz/index.jsp', phone: '0207 961 1234'},
        { coords: [51.520779, -0.090923], name: 'Montcalm London City', address: '52 Chiswell Street<br>London EC1Y 5SD', url: 'http://www.themontcalmlondoncity.co.uk', phone: '0207 616 0100'},
        { coords: [51.510582, -0.079320], name: 'Apex Hotels', address: 'No 1 Seething Lane<br>London EC3N 4AX', url: 'http://www.apexhotels.co.uk/en/hotels/london/apex-city-of-london-hotel/', phone: '0845 365 0000'},
        { coords: [51.525744, -0.077237], name: 'Crowne Plaza', address: '100 Shoreditch High Street<br>London E1 6JQ', url: 'http://www.ichotelsgroup.com/crowneplaza/hotels/us/en/london/lonsd/hoteldetail', phone: '0207 613 9800'},
        { coords: [51.510743, -0.078151], name: 'DoubleTree Hilton', address: '7 Pepys Street<br>London EC3N 4AF', url: 'http://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-london-tower-of-london-LONTLDI/index.html', phone: '0207 709 1000'},
        { coords: [51.525316, -0.083373], name: 'Hoxton Hotel', address: '81 Great Eastern Street<br>London EC2A 3HU', url: 'http://www.hoxtonhotels.com', phone: '0207 550 1000' },
        { coords: [51.520264, -0.099519], name: 'Malmaison London', address: '18-21 Charterhouse Square<br>London EC1M 6AH', url: 'http://www.malmaison.com/locations/london/', phone: '0207 012 3700' },
        { coords: [51.522444, -0.087188], name: 'Travelodge City Road', address: '1-23 City Road<br>London EC1Y 1AE', url: 'http://www.travelodge.co.uk/hotels/340/London-Central-City-Road-prev-Moorgate-hotel', phone: '0871 984 6333' },
        { coords: [51.527634, -0.087108], name: 'Premier Inn', address: 'Corsham Street<br>London, N1 6DR', url: 'http://www.premierinn.com/en/hotel/LONOLD/london-city-old-street', phone: '0871 527 9312' }
    ];

    $.each(hotels, function(idx, hotel) {
      var coords = new google.maps.LatLng(hotel.coords[0], hotel.coords[1]);
      var hotelMarker = new google.maps.Marker({ 
        position: coords, 
        map: mainMap, 
        title: hotel.name, 
        icon: hotelMarkerImg,
        shadow: hotelMarkerShadow,
        shape: hotelMarkerShape
      });

      markers[hotel.name] = hotelMarker;
      var content = '<div class="infoWindow"><h5>'+hotel.name+'</h5>';
      content += hotel.address + '<br>' + hotel.phone + '<br><a href="'+hotel.url+'" target="_link">Hotel Website</a></div>';
      google.maps.event.addListener(hotelMarker, 'click', function() { 
          if(infoWindow) { infoWindow.close(); }
          infoWindow = new google.maps.InfoWindow({content: content});
          infoWindow.open(mainMap, hotelMarker); 
      });
    });

    $('.location').click(function() {
      if(infoWindow){ infoWindow.close(); }
      var key = $(this).find('h4').text();
      google.maps.event.trigger(markers[key], 'click');
    });

    $('.location').mouseover(function(){ $(this).css('backgroundColor', '#FFFFF3');});
    $('.location').mouseout(function(){ $(this).css('backgroundColor', '#FFF');});
});
</script>
{% endblock %}
